<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.ActivityDetailMapper">

    <resultMap id="BaseResultMap" type="com.tencent.wxcloudrun.model.ActivityDetail" >
        <result column="id" property="id" />
        <result column="activity_id" property="activityId" />
        <result column="user_id" property="userId" />
        <result column="phone_num" property="phoneNum" />
        <result column="location" property="location" />
        <result column="name" property="name" />
        <result column="title" property="title" />
        <result column="short_context" property="shortContext" />
        <result column="pic_url" property="picUrl" />
        <result column="order_num" property="orderNum" />
        <result column="vote_num" property="voteNum" />
        <result column="status" property="status" />
        <result column="reject_reason" property="rejectReason" />
        <result column="updated_time" property="updatedTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
                activity_id,
                user_id,
                phone_num,
                location,
                `name`,
                title,
                short_context,
                pic_url,
                order_num,
                vote_num,
                status,
                reject_reason,
                updated_time,
                updated_by,
                create_time,
                create_by
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.tencent.wxcloudrun.model.ActivityDetail">
        INSERT INTO t_activity_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != activityId and '' != activityId">
                activity_id,
            </if>
            <if test="null != userId and '' != userId">
                user_id,
            </if>
            <if test="null != phoneNum and '' != phoneNum">
                phone_num,
            </if>
            <if test="null != location and '' != location">
                location,
            </if>
            <if test="null != name and '' != name">
                `name`,
            </if>
            <if test="null != title and '' != title">
                title,
            </if>
            <if test="null != shortContext and '' != shortContext">
                short_context,
            </if>
            <if test="null != picUrl and '' != picUrl">
                pic_url,
            </if>
            <if test="null != orderNum ">
                order_num,
            </if>
            <if test="null != voteNum ">
                vote_num,
            </if>
            <if test="null != status ">
                status,
            </if>
            <if test="null != rejectReason and rejectReason != '' ">
                reject_reason,
            </if>
            <if test="null != updatedTime">
                updated_time,
            </if>
            <if test="null != updatedBy and '' != updatedBy">
                updated_by,
            </if>
            <if test="null != createTime">
                create_time,
            </if>
            <if test="null != createBy and '' != createBy">
                create_by
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != activityId and '' != activityId">
                #{activityId},
            </if>
            <if test="null != userId and '' != userId">
                #{userId},
            </if>
            <if test="null != phoneNum and '' != phoneNum">
                #{phoneNum},
            </if>
            <if test="null != location and '' != location">
                #{location},
            </if>
            <if test="null != name and '' != name">
                #{name},
            </if>
            <if test="null != title and '' != title">
                #{title},
            </if>
            <if test="null != shortContext and '' != shortContext">
                #{shortContext},
            </if>
            <if test="null != picUrl and '' != picUrl">
                #{picUrl},
            </if>
            <if test="null != orderNum ">
                #{orderNum},
            </if>
            <if test="null != voteNum ">
                #{voteNum},
            </if>
            <if test="null != status ">
                #{status},
            </if>
            <if test="null != rejectReason and rejectReason != '' ">
                #{rejectReason},
            </if>
            <if test="null != updatedTime">
                #{updatedTime},
            </if>
            <if test="null != updatedBy and '' != updatedBy">
                #{updatedBy},
            </if>
            <if test="null != createTime ">
                #{createTime},
            </if>
            <if test="null != createBy and '' != createBy">
                #{createBy}
            </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM t_activity_detail
        WHERE activity_id = #{id}
    </delete>

    <delete id="deleteById">
        DELETE FROM t_activity_detail
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.tencent.wxcloudrun.model.ActivityDetail">
        UPDATE t_activity_detail
        <set>
            <if test="null != activityId ">activity_id = #{activityId},</if>
            <if test="null != userId ">user_id = #{userId},</if>
            <if test="null != phoneNum and '' != phoneNum">phone_num = #{phoneNum},</if>
            <if test="null != location and '' != location">location = #{location},</if>
            <if test="null != name and '' != name">`name` = #{name},</if>
            <if test="null != title and '' != title">title = #{title},</if>
            <if test="null != shortContext and '' != shortContext">short_context = #{shortContext},</if>
            <if test="null != picUrl and '' != picUrl">pic_url = #{picUrl},</if>
            <if test="null != orderNum ">order_num = #{orderNum},</if>
            <if test="null != voteNum ">vote_num = #{voteNum},</if>
            <if test="null != status ">
                status = #{status},
            </if>
            <if test="null != rejectReason and rejectReason != '' ">
                reject_reason = {rejectReason},
            </if>
            <if test="null != updatedTime ">updated_time = #{updatedTime},</if>
            <if test="null != updatedBy and '' != updatedBy">updated_by = #{updatedBy},</if>
            <if test="null != createTime ">create_time = #{createTime},</if>
            <if test="null != createBy and '' != createBy">create_by = #{createBy}</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="load" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM t_activity_detail
        WHERE id = #{id}
    </select>

    <select id="pageList" resultMap="BaseResultMap" parameterType="com.tencent.wxcloudrun.model.ActivityDetail">
        SELECT <include refid="Base_Column_List" />
        FROM t_activity_detail
        where 1 = 1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="null != activityId and '' != activityId">
            and activity_id = #{activityId}
        </if>
        <if test="null != userId and '' != userId">
            and user_id = #{userId}
        </if>
        <if test="null != phoneNum and '' != phoneNum">
          and phone_num = #{phoneNum}
        </if>
        <if test="null != name and '' != name">
            and `name` = #{name}
        </if>
        <if test="null != title and '' != title">
            and title = #{title}
        </if>
        <if test="null != shortContext and '' != shortContext">
            and short_context = #{shortContext}
        </if>
        <if test="null != orderNum and '' != orderNum">
            and order_num = #{orderNum}
        </if>
        <if test="null != voteNum and '' != voteNum">
            and vote_num = #{voteNum}
        </if>
        <if test="null != status ">
            and status = #{status}
        </if>
        <if test="null != rejectReason and rejectReason != '' ">
            and reject_reason = {rejectReason}
        </if>
        order by order_num
    </select>

    <select id="getAvaList" resultType="com.tencent.wxcloudrun.model.ActivityDetail">
        SELECT a.*
        FROM t_activity_detail a
        join t_activity_header b on a.activity_id = b.id
        where end_time <![CDATA[<]]> now()
    </select>

    <select id="getNumByActiveId" resultType="java.lang.Integer">
        select count(*) from t_activity_detail
        where activity_id = #{id}
    </select>

    <select id="getMaxNumByActiveId" resultType="java.lang.Integer">
        select max(order_num) from t_activity_detail
        where activity_id = #{id}
    </select>

    <select id="getNumCheckByActiveId" resultType="java.lang.String">
        select concat(sum(case when status = 0 then 1 else 0 end),' / ',count(*)) from t_activity_detail
        where activity_id = #{id}
    </select>
</mapper>