<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.ActivityContextDetailMapper">

    <resultMap id="BaseResultMap" type="com.tencent.wxcloudrun.model.ActivityContextDetail" >
        <result column="id" property="id" />
        <result column="activity_id" property="activityId" />
        <result column="context" property="context" />
        <result column="type" property="type" />
        <result column="orders" property="orders" />
        <result column="updated_time" property="updatedTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
                activity_id,
                context,
                `type`,
                orders,
                updated_time,
                updated_by,
                create_time,
                create_by
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.tencent.wxcloudrun.model.ActivityContextDetail">
        INSERT INTO activity_contexdetail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != activityId and '' != activityId">
                activity_id,
            </if>
            <if test="null != context and '' != context">
                context,
            </if>
            <if test="null != type and '' != type">
                `type`,
            </if>
            <if test="null != orders and '' != orders">
                orders,
            </if>
            <if test="null != updatedTime and '' != updatedTime">
                updated_time,
            </if>
            <if test="null != updatedBy and '' != updatedBy">
                updated_by,
            </if>
            <if test="null != createTime and '' != createTime">
                create_time,
            </if>
            <if test="null != createBy and '' != createBy">
                create_by
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != activityId and '' != activityId">
                #{activityId},
            </if>
            <if test="null != context and '' != context">
                #{context},
            </if>
            <if test="null != type and '' != type">
                #{type},
            </if>
            <if test="null != orders and '' != orders">
                #{orders},
            </if>
            <if test="null != updatedTime and '' != updatedTime">
                #{updatedTime},
            </if>
            <if test="null != updatedBy and '' != updatedBy">
                #{updatedBy},
            </if>
            <if test="null != createTime and '' != createTime">
                #{createTime},
            </if>
            <if test="null != createBy and '' != createBy">
                #{createBy}
            </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM activity_contexdetail
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.tencent.wxcloudrun.model.ActivityContextDetail">
        UPDATE activity_contexdetail
        <set>
            <if test="null != activityId and '' != activityId">activity_id = #{activityId},</if>
            <if test="null != context and '' != context">context = #{context},</if>
            <if test="null != type and '' != type">`type` = #{type},</if>
            <if test="null != orders and '' != orders">orders = #{orders},</if>
            <if test="null != updatedTime and '' != updatedTime">updated_time = #{updatedTime},</if>
            <if test="null != updatedBy and '' != updatedBy">updated_by = #{updatedBy},</if>
            <if test="null != createTime and '' != createTime">create_time = #{createTime},</if>
            <if test="null != createBy and '' != createBy">create_by = #{createBy}</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="load" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM activity_contexdetail
        WHERE id = #{id}
    </select>

    <select id="pageList" resultMap="BaseResultMap" parameterType="com.tencent.wxcloudrun.model.ActivityContextDetail">
        SELECT <include refid="Base_Column_List" />
        FROM activity_contexdetail
        where 1 = 1
        <if test="null != activityId and '' != activityId">
            and activity_id = #{activityId}
        </if>
        <if test="null != context and '' != context">
            and context = #{context}
        </if>
        <if test="null != type and '' != type">
            and `type` = #{type}
        </if>
        <if test="null != orders and '' != orders">
            and orders = #{orders}
        </if>
    </select>

</mapper>