<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.GiftMapper">

    <resultMap id="BaseResultMap" type="com.tencent.wxcloudrun.model.Gift" >
        <result column="id" property="id" />
        <result column="activity_type" property="activityType" />
        <result column="gift_name" property="giftName" />
        <result column="vote_num" property="voteNum" />
        <result column="price" property="price" />
        <result column="pic_url" property="picUrl" />
        <result column="enable" property="enable" />
        <result column="updated_time" property="updatedTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
                activity_type,
                gift_name,
                vote_num,
                price,
                pic_url,
                enable,
                updated_time,
                updated_by,
                create_time,
                create_by
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.tencent.wxcloudrun.model.Gift">
        INSERT INTO t_gift
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != activityType and '' != activityType">
                activity_type,
            </if>
            <if test="null != giftName and '' != giftName">
                gift_name,
            </if>
            <if test="null != voteNum and '' != voteNum">
                vote_num,
            </if>
            <if test="null != price and '' != price">
                price,
            </if>
            <if test="null != picUrl and '' != picUrl">
                pic_url,
            </if>
            <if test="null != enable and '' != enable">
                enable,
            </if>
            <if test="null != updatedTime and '' != updatedTime">
                updated_time,
            </if>
            <if test="null != updatedBy and '' != updatedBy">
                updated_by,
            </if>
            <if test="null != createTime and '' != createTime">
                create_time,
            </if>
            <if test="null != createBy and '' != createBy">
                create_by
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != activityType and '' != activityType">
                #{activityType},
            </if>
            <if test="null != giftName and '' != giftName">
                #{giftName},
            </if>
            <if test="null != voteNum and '' != voteNum">
                #{voteNum},
            </if>
            <if test="null != price and '' != price">
                #{price},
            </if>
            <if test="null != picUrl and '' != picUrl">
                #{picUrl},
            </if>
            <if test="null != enable and '' != enable">
                #{enable},
            </if>
            <if test="null != updatedTime and '' != updatedTime">
                #{updatedTime},
            </if>
            <if test="null != updatedBy and '' != updatedBy">
                #{updatedBy},
            </if>
            <if test="null != createTime and '' != createTime">
                #{createTime},
            </if>
            <if test="null != createBy and '' != createBy">
                #{createBy}
            </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM t_gift
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.tencent.wxcloudrun.model.Gift">
        UPDATE t_gift
        <set>
            <if test="null != activityType and '' != activityType">activity_type = #{activityType},</if>
            <if test="null != giftName and '' != giftName">gift_name = #{giftName},</if>
            <if test="null != voteNum and '' != voteNum">vote_num = #{voteNum},</if>
            <if test="null != price and '' != price">price = #{price},</if>
            <if test="null != picUrl and '' != picUrl">pic_url = #{picUrl},</if>
            <if test="null != enable and '' != enable">enable = #{enable},</if>
            <if test="null != updatedTime and '' != updatedTime">updated_time = #{updatedTime},</if>
            <if test="null != updatedBy and '' != updatedBy">updated_by = #{updatedBy},</if>
            <if test="null != createTime and '' != createTime">create_time = #{createTime},</if>
            <if test="null != createBy and '' != createBy">create_by = #{createBy}</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="load" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM t_gift
        WHERE id = #{id}
    </select>

    <select id="pageList" resultMap="BaseResultMap" parameterType="com.tencent.wxcloudrun.model.Gift">
        SELECT <include refid="Base_Column_List" />
        FROM t_gift
        where 1 = 1
        <if test="null != activityType and '' != activityType">
            and activity_type = #{activityType}
        </if>
        <if test="null != giftName and '' != giftName">
            and gift_name = #{giftName}
        </if>
        <if test="null != voteNum and '' != voteNum">
            and vote_num = #{voteNum}
        </if>
        <if test="null != price and '' != price">
            and price = #{price}
        </if>
        <if test="null != enable and '' != enable">
            and enable = #{enable}
        </if>
    </select>
</mapper>